<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Cargos</h3>

                <div class="card-tools">
                    <button class="btn btn-success" @click="newModal">Add Novo <i class="fas fa-cicle-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Descrição</th>
                      <th>Data de inclusão</th>
                        <th>Data de alteracao</th>
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="cargo in cargos" :key="cargo.id">
                      <td>{{ cargo.id }}</td>
                      <td>{{ cargo.descricao }}</td>
                      <td>{{ cargo.created_at | myDate}}</td>
                      <td>{{ cargo.updated_at | myDate}}</td>
                      <td>
                          <a href="#" @click="editModal(cargo)">
                              <i class="fa fa-edit blue"></i>
                          </a>
                          /
                          <a href="#" @click="deleteCargo(cargo.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add Novo</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Atualizar Cargo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updatecargo() : createCargo()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputNome">Descrição</label>
                        <input v-model="form.descricao" type="text" name="nome"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('descricao') }">
                        <has-error :form="form" field="descricao"></has-error>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    <button type="submit" v-show="editmode" class="btn btn-success">Alterar</button>
                    <button type="submit" v-show="!editmode" class="btn btn-primary">Salvar</button>
                </div>

                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                cargos: {},
                form: new Form({
                    id:'',
                    descricao : ''
                })
            }
        },
        methods: {
            updatecargo(){
                this.$Progress.start();

                this.form.put('api/cargo/'+this.form.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal.fire(
                        'Alterado!',
                        'Seu registro foi atualizado.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            editModal(cargo){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(cargo);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteCargo(id){
                swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/cargo/'+id).then(()=>{
                            swal.fire(
                                'Excluído!',
                                'Seu registro foi excluído.',
                                'success'
                                )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            swal.fire("Falhou!", "Há algo errado.", "warning");
                        });
                   }
                })
            },
            loadCargos(){
                axios.get('/api/cargo').then(({data}) => (this.cargos = data.data));
            },
            createCargo(){
                this.$Progress.start();
                this.form.post('api/cargo')
                .then(() =>{
                Fire.$emit('AfterCreate');
                $("#addNew").modal('hide')

                toast.fire({
                    type: 'success',
                    title: 'Cargo criado com sucesso'
                })
                this.$Progress.finish();
                })
                .catch(() => {

                })
            }
        },
        created() {
            this.loadCargos();
           Fire.$on('AfterCreate',() => {
               this.loadCargos();
           });
            // setInterval(() => this.loadCargos(), 3000);
        }
    }
</script>
