<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Centro de Trabalho</h3>

                <div class="card-tools">
                    <button class="btn btn-success" @click="newModal">Add Novo <i class="fas fa-cicle-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Código</th>
                      <th>Descrição</th>
                      <th>Centro Custo</th>
                      <th>Data de inclusão</th>
                      <th>Data de alteração</th>
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="centrotrabalho in centrotrabalhos" :key="centrotrabalho.id">
                      <td>{{ centrotrabalho.id }}</td>
                      <td>{{ centrotrabalho.codigo }}</td>
                      <td>{{ centrotrabalho.descricao }}</td>
                      <td>{{ centrotrabalho.centrocusto.codigo }}</td>
                      <td>{{ centrotrabalho.created_at | myDate}}</td>
                      <td>{{ centrotrabalho.updated_at | myDate}}</td>
                      <td>
                          <a href="#" @click="editModal(centrotrabalho)">
                              <i class="fa fa-edit blue"></i>
                          </a>
                          /
                          <a href="#" @click="deleteRegister(centrotrabalho.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add Novo</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Atualizar Centro Custo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateRegister() : createRegister()">

                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                        <label for="exampleSelectCentroCusto">Centro Custo</label>
                        <select class="custom-select" v-model="form.id_centro_custo">
                          <option value="" disabled selected>Escolha um Centro de Custo</option>
                          <option v-for="centrocusto in centrocustos" :key="centrocusto.id" :value="centrocusto.id">{{ centrocusto.descricao}}</option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputCodigo">Código</label>
                        <input v-model="form.codigo" type="text" name="codigo"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('codigo') }">
                        <has-error :form="form" field="codigo"></has-error>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputNome">Descrição</label>
                        <input v-model="form.descricao" type="text" name="nome"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('descricao') }">
                        <has-error :form="form" field="descricao"></has-error>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    <button type="submit" v-show="editmode" class="btn btn-success">Alterar</button>
                    <button type="submit" v-show="!editmode" class="btn btn-primary">Salvar</button>
                </div>

                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                centrotrabalhos: {},
                centrocustos: {},
                form: new Form({
                    id:'',
                    codigo: '',
                    descricao : '',
                    id_centro_custo: '',
                })
            }
        },
        methods: {
            updateRegister(){
                this.$Progress.start();

                this.form.put('api/centrotrabalho/'+this.form.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal.fire(
                        'Alterado!',
                        'Seu registro foi atualizado.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            editModal(centrotrabalho){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(centrotrabalho);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteRegister(id){
                swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/centrotrabalho/'+id).then(()=>{
                            swal.fire(
                                'Excluído!',
                                'Seu registro foi excluído.',
                                'success'
                                )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            swal.fire("Falhou!", "Há algo errado.", "warning");
                        });
                   }
                })
            },
            loadRegister(){
                axios.get('/api/centrotrabalho').then(({data}) => (this.centrotrabalhos = data.data));
            },
            loadCentroCusto(){
                axios.get('/api/centrocusto').then(({data}) => (this.centrocustos = data.data));
            },
            createRegister(){
                this.$Progress.start();
                this.form.post('api/centrotrabalho')
                .then(() =>{
                Fire.$emit('AfterCreate');
                $("#addNew").modal('hide')

                toast.fire({
                    type: 'success',
                    title: 'Centro de Custo criado com sucesso'
                })
                this.$Progress.finish();
                })
                .catch(() => {

                })
            }
        },
        created() {
            this.loadRegister();
            this.loadCentroCusto();
           Fire.$on('AfterCreate',() => {
               this.loadRegister();
               this.loadCentroCusto();
           });
        }
    }
</script>
