<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Centro de Custo</h3>

                <div class="card-tools">
                    <button class="btn btn-success" @click="newModal">Add Novo <i class="fas fa-cicle-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Código</th>
                      <th>Descrição</th>
                      <th>Data de inclusão</th>
                      <th>Data de alteração</th>
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="centrocusto in centroscusto" :key="centrocusto.id">
                      <td>{{ centrocusto.id }}</td>
                      <td>{{ centrocusto.codigo }}</td>
                      <td>{{ centrocusto.descricao }}</td>
                      <td>{{ centrocusto.created_at | myDate}}</td>
                      <td>{{ centrocusto.updated_at | myDate}}</td>
                      <td>
                          <a href="#" @click="editModal(centrocusto)">
                              <i class="fa fa-edit blue"></i>
                          </a>
                          /
                          <a href="#" @click="deleteCentroCusto(centrocusto.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add Novo</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Atualizar Centro Custo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateCentroCusto() : createCentroCusto()">

                <div class="modal-body">
                    <label for="exampleRadioTipo">Tipo</label>
                    <div class="form-group">
                        <div class="btn-group btn-group-toggle">
                            <label for="direto" class="btn btn-secondary" :class="{'active': form.tipo === '2'}">
                                <input type="radio" id="direto" value="2" autocomplete="off" v-model="form.tipo" :checked="checked">Direto
                            </label>
                            <label for="indireto" class="btn btn-secondary" :class="{'active': form.tipo === '3'}">
                                <input type="radio" id="indireto" value="3" autocomplete="off" v-model="form.tipo" :checked="checked">Indireto
                            </label>
                            <label for="admin" class="btn btn-secondary" :class="{'active': form.tipo === '4'}">
                                <input type="radio" id="admin" value="4" autocomplete="off" v-model="form.tipo" :checked="checked">ADM
                            </label>
                            <label for="vendas" class="btn btn-secondary" :class="{'active': form.tipo === '1'}">
                                <input type="radio" id="vendas" value="1" autocomplete="off" v-model="form.tipo" :checked="checked">Vendas
                            </label>
                        </div>
                      </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputCodigo">Código</label>
                        <input v-model="form.codigo" type="text" name="codigo"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('codigo') }">
                        <has-error :form="form" field="codigo"></has-error>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputNome">Descrição</label>
                        <input v-model="form.descricao" type="text" name="nome"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('descricao') }">
                        <has-error :form="form" field="descricao"></has-error>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    <button type="submit" v-show="editmode" class="btn btn-success">Alterar</button>
                    <button type="submit" v-show="!editmode" class="btn btn-primary">Salvar</button>
                </div>

                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                centroscusto: {},
                form: new Form({
                    id:'',
                    codigo: '',
                    descricao : '',
                    tipo: '',
                })
            }
        },
        methods: {
            checked: function(val) {
                this.checked = val;
            },
            updateCentroCusto(){
                this.$Progress.start();

                this.form.put('api/centrocusto/'+this.form.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal.fire(
                        'Alterado!',
                        'Seu registro foi atualizado.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            editModal(centrocusto){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(centrocusto);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteCentroCusto(id){
                swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/centrocusto/'+id).then(()=>{
                            swal.fire(
                                'Excluído!',
                                'Seu registro foi excluído.',
                                'success'
                                )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            swal.fire("Falhou!", "Há algo errado.", "warning");
                        });
                   }
                })
            },
            loadCentrosCusto(){
                axios.get('/api/centrocusto').then(({data}) => (this.centroscusto = data.data));
            },
            createCentroCusto(){
                this.$Progress.start();
                this.form.post('api/centrocusto')
                .then(() =>{
                Fire.$emit('AfterCreate');
                $("#addNew").modal('hide')

                toast.fire({
                    type: 'success',
                    title: 'Centro de Custo criado com sucesso'
                })
                this.$Progress.finish();
                })
                .catch(() => {

                })
            }
        },
        created() {
            this.loadCentrosCusto();
           Fire.$on('AfterCreate',() => {
               this.loadCentrosCusto();
           });
        }
    }
</script>
