<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Cliente</h3>

                <div class="card-tools">
                    <button class="btn btn-success" @click="newModal">Novo Cliente <i class="fas fa-cicle-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Data de Cadastro</th>
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="cliente in clientes" :key="cliente.id">
                      <td>{{ cliente.id }}</td>
                      <td>{{ cliente.nome }}</td>
                      <td>{{ cliente.email }}</td>
                      <td>{{ cliente.created_at | myDate}}</td>
                      <td>

                          <a href="#" @click="editModal(cliente)">
                              <i class="fa fa-edit blue"></i>
                          </a>
                          /
                          <a href="#" @click="deleteCliente(cliente.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Adicionar cliente</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Editar cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateCliente() : createCliente()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputNome">Nome</label>
                        <input v-model="form.nome" type="text" name="nome"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('nome') }">
                        <has-error :form="form" field="nome"></has-error>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="exampleRG">RG</label>
                        <input v-model="form.rg" type="text" name="rg"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('rg') }">
                        <has-error :form="form" field="rg"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputCPF">CPF</label>
                            <input v-model="form.cpf" type="text" name="cpf"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('cpf') }">
                            <has-error :form="form" field="cpf"></has-error>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputTelefone">Telefone</label>
                            <input v-model="form.telefone" type="text" name="telefone"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('telefone') }">
                            <has-error :form="form" field="telefone"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail">Email</label>
                            <input v-model="form.email" type="text" name="email"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                    </div>
                    <div class="form-row">
                        <h5 class="modal-title" id="addNewEnderecoLabel">Endereço</h5>
                        <div class="form-group">
                            <input v-model="form.id_cliente" type="hidden" name="id_cliente"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('id_cliente') }">
                            <has-error :form="form" field="id_cliente"></has-error>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEstado">Estado</label>
                            <select name="id_estado" id="id_estado" class="form-control">
                                <option value="">Selecione um Estado</option>
                                <option value="2">SP</option>
                                <option value="17">BH</option>
                            </select>
                            <has-error :form="form" field="id_estado"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputCidade">Cidade</label>
                            <select name="id_cidade" id="id_cidade" class="form-control">
                                <option value="">Selecione uma Cidade</option>
                                <option value="715">São Paulo</option>
                                <option value="716">Guarulhos</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputBairro">Bairro</label>
                            <input v-model="form.bairro" type="text" name="bairro"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('bairro') }">
                            <has-error :form="form" field="bairro"></has-error>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="exampleInputLogradouro">Tipo Logradouro</label>
                            <input v-model="form.tipo_logradouro" type="text" name="email"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('tipo_logradouro') }">
                            <has-error :form="form" field="tipo_logradouro"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputLogradouro">Logradouro</label>
                            <input v-model="form.logradouro" type="text" name="email"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('logradouro') }">
                            <has-error :form="form" field="logradouro"></has-error>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputNumero">Numero</label>
                            <input v-model="form.numero" type="text" name="numero"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('numero') }">
                            <has-error :form="form" field="numero"></has-error>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="exampleInputComplemento">Complemento</label>
                            <input v-model="form.complemento" type="text" name="complemento"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('complemento') }">
                            <has-error :form="form" field="complemento"></has-error>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" v-show="editmode" class="btn btn-success">Alterar</button>
                    <button type="submit" v-show="!editmode" class="btn btn-primary">Salvar</button>
                </div>
                </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addEnderecoNew" tabindex="-1" role="dialog" aria-labelledby="addNewEnderecoLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editenderecomode" id="addNewEnderecoLabel">Adicionar endereço</h5>
                    <h5 class="modal-title" v-show="editenderecomode" id="addNewEnderecoLabel">Editar endereço</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editenderecomode ? updateEndereco() : createEndereco()">
                <div class="modal-body">
                    <div class="form-group">
                        <input v-model="formEndereco.id_cliente" type="hidden" name="id_cliente"
                            class="form-control" :class="{ 'is-invalid': formEndereco.errors.has('id_cliente') }">
                        <has-error :form="formEndereco" field="id_cliente"></has-error>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEstado">Estado</label>
                            <input v-model="formEndereco.estado" type="text" name="estado"
                                class="form-control" :class="{ 'is-invalid': formEndereco.errors.has('estado') }">
                            <has-error :form="formEndereco" field="estado"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputCidade">Cidade</label>
                            <input v-model="formEndereco.cidade" type="text" name="cidade"
                                class="form-control" :class="{ 'is-invalid': formEndereco.errors.has('cidade') }">
                            <has-error :form="formEndereco" field="cidade"></has-error>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputBairro">Bairro</label>
                            <input v-model="formEndereco.bairro" type="text" name="bairro"
                                class="form-control" :class="{ 'is-invalid': formEndereco.errors.has('bairro') }">
                            <has-error :form="formEndereco" field="bairro"></has-error>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="exampleInputLogradouro">Logradouro</label>
                            <input v-model="formEndereco.logradouro" type="text" name="email"
                                class="form-control" :class="{ 'is-invalid': formEndereco.errors.has('logradouro') }">
                            <has-error :form="formEndereco" field="logradouro"></has-error>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputNumero">Numero</label>
                            <input v-model="formEndereco.numero" type="text" name="numero"
                                class="form-control" :class="{ 'is-invalid': formEndereco.errors.has('numero') }">
                            <has-error :form="formEndereco" field="numero"></has-error>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="exampleInputComplemento">Complemento</label>
                            <input v-model="formEndereco.complemento" type="text" name="complemento"
                                class="form-control" :class="{ 'is-invalid': formEndereco.errors.has('complemento') }">
                            <has-error :form="formEndereco" field="complemento"></has-error>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    <button type="submit" v-show="editenderecomode" class="btn btn-success">Alterar</button>
                    <button type="submit" v-show="!editenderecomode" class="btn btn-primary">Salvar</button>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                editenderecomode: false,
                clientes: {},
                form: new Form({
                    id:'',
                    nome: '',
                    rg: '',
                    cpf: '',
                    telefone: '',
                    email: '',
                    id_estado: '',
                    id_cidade: '',
                    bairro: '',
                    tipo_logradouro: '',
                    logradouro: '',
                    numero: '',
                    complemento: ''
                }),
                formEndereco: new Form({
                    id:'',
                    id_cliente: '',
                    estado: '',
                    cidade: '',
                    bairro: '',
                    logradouro: '',
                    numero: '',
                    complemento: ''
                })
            }
        },
        methods: {
            updateEndereco(){
                this.$Progress.start();

                this.formEndereco.put('api/endereco/'+this.formEndereco.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal.fire(
                        'Alterado!',
                        'Seu registro foi atualizado.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            updateCliente(){
                this.$Progress.start();

                this.form.put('api/cliente/'+this.form.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal.fire(
                        'Alterado!',
                        'Seu registro foi atualizado.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            editModal(cliente){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(cliente);
            },
            editEnderecoModal(endereco){
                this.editenderecomode = true;
                this.formEndereco.reset();
                $('#addEnderecoNew').modal('show');
                this.endereco.id_cliente = this.endereco.id;
                this.endereco.id = '';
                this.formEndereco.fill(endereco);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            newEnderecoModal(cliente){
                this.editenderecomode = false;
                this.formEndereco.reset();
                $('#addEnderecoNew').modal('show');
                this.formEndereco.fill(cliente);
            },
            deleteCliente(id){
                swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/cliente/'+id).then(()=>{
                            swal.fire(
                                'Excluído!',
                                'Seu registro foi excluído.',
                                'success'
                                )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            swal.fire("Falhou!", "Há algo errado.", "warning");
                        });
                   }
                })
            },
            loadClientes(){
                axios.get('/api/cliente').then(({data}) => (this.clientes = data.data));
            },
            createCliente(){
                this.$Progress.start();
                this.form.post('api/cliente')
                .then(() =>{
                Fire.$emit('AfterCreate');
                $("#addNew").modal('hide')

                toast.fire({
                    type: 'success',
                    title: 'Cliente criado com sucesso'
                })
                this.$Progress.finish();
                })
                .catch(() => {

                })
            },
            createEndereco(){
                this.$Progress.start();
                this.formEndereco.post('api/endereco')
                .then(() =>{
                Fire.$emit('AfterCreate');
                $("#addEnderecoNew").modal('hide')

                toast.fire({
                    type: 'success',
                    title: 'Endereço criado com sucesso'
                })
                this.$Progress.finish();
                })
                .catch(() => {

                })
            }
        },
        created() {
            this.loadClientes();
           Fire.$on('AfterCreate',() => {
               this.loadClientes();
           });
        }
    }
</script>
