<template>
  <div class="container">
    <section class="content">
      <div class="row justify-content-center">
        <form >
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary card-outline">
                <div class="card-body">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label>Produto</label>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-barcode"></i>
                          </span>
                        </div>
                        <!-- /btn-group -->
                        <input
                          v-on:keyup.enter="buscarProduto"
                          v-model="form.codigo_barras"
                          type="text"
                          name="codigo_barras"
                          class="form-control"
                          :class="{ 'is-invalid': form.errors.has('codigo_barras') }"
                        />
                        <has-error :form="form" field="codigo_barras"></has-error>
                      </div>
                      <!-- <select2 class="form-control" :options="produtos" name="produto[]">
                    <option disabled value="0">Selecione um</option>
                      </select2>-->
                    </div>

                    <div class="form-group col-md-6">
                      <label for="valor_unitario">Valor Unitário (R$)</label>
                      <input
                        v-model="produto.valor_produto"
                        type="text"
                        name="valor_unitario"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('valor_unitario') }"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      produto: [],
      form: new Form({
        codigo_barras: "",
        valor_unitario: ""
      })
    };
  },
  methods: {
    buscarProduto(event) {
      if (event) {
        axios.get("api/codigobarras/" + event.target.value).then(data => {
          this.produto = data.data;
        });
        this.form.quantidade = 1;
      }
    }
  },
};
</script>
