<template>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Relatório mensal de vendas</h5>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-wrench"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a href="#" class="dropdown-item">Action</a>
                      <a href="#" class="dropdown-item">Another action</a>
                      <a href="#" class="dropdown-item">Something else here</a>
                      <a class="dropdown-divider"></a>
                      <a href="#" class="dropdown-item">Separated link</a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <p class="text-center">
                      <strong>Vendas: 1 Jan, 2020 - 25 Mai, 2020</strong>
                    </p>
                    <grafica-component></grafica-component>
                    <!-- /.chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-4">
                    <p class="text-center">
                      <strong>Conclusão Vendas</strong>
                    </p>

                    <div class="progress-group">
                      Produtos Vendidos
                      <span class="float-right"><b>3</b>/6</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-primary" style="width: 50%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->

                    <div class="progress-group">
                      Vendas Finalizadas
                      <span class="float-right"><b>2</b>/2</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-danger" style="width: 100%"></div>
                      </div>
                    </div>

                    <!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Vendas Canceladas </span>
                      <span class="float-right"><b>0</b>/2</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-success" style="width: 0%"></div>
                      </div>
                    </div>

                    <!-- /.progress-group -->
                    <div class="progress-group">
                      Vendas Pendentes
                      <span class="float-right"><b>2</b>/2</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-warning" style="width: 100%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4 col-6">
                    <div class="description-block border-right">
                      <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                      <h5 class="description-header">R$ 184,33</h5>
                      <span class="description-text">TOTAL VENDAS <i class="fas fa-cicle-plus fa-fw"></i></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 col-6">
                    <div class="description-block border-right">
                      <!-- <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span> -->
                      <h5 class="description-header">R$ 58.62</h5>
                      <span class="description-text">TOTAL VENDAS <i class="fas fa-credit-card"></i></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 col-6">
                    <div class="description-block border-right">
                      <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span> -->
                      <h5 class="description-header">R$ 125.71</h5>
                      <span class="description-text">TOTAL VENDAS <i class="fas fa-money-bill"></i></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <!-- <div class="col-sm-3 col-6"> -->
                    <!-- <div class="description-block"> -->
                      <!-- <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span> -->
                      <!-- <h5 class="description-header">1200</h5> -->
                      <!-- <span class="description-text">GOAL COMPLETIONS</span> -->
                    <!-- </div> -->
                    <!-- /.description-block -->
                  <!-- </div> -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

