<template>
  <div class="container">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="callout callout-info">
            <h5>
              <i class="fas fa-info"></i> Caixa Livre
            </h5>
          </div>
        </div>
      </div>
      <form @submit.prevent="createRegister()">
        <div class="row">
          <div class="col-md-4">
            <div class="h-100 card card-primary card-outline">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="id">Venda</label>
                    <input
                      v-model="pedidovenda[0].id"
                      type="text"
                      id="id"
                      name="id"
                      class="form-control"
                      :disabled="(pedidovenda[0].id === true)"
                      :class="{ 'is-invalid': form.errors.has('id') }"
                    />
                    <has-error :form="form" field="id"></has-error>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="data_venda">Data Venda</label>
                    <input
                      type="text"
                      id="data_venda"
                      name="data_venda"
                      value="23/02/2020"
                      class="form-control"
                      :class="{ 'is-invalid': form.errors.has('data_venda') }"
                    />
                    <has-error :form="form" field="data_venda"></has-error>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="id_cliente">Cliente</label>
                    <div class="input-group">
                      <select class="form-control" v-model="pedidovenda[0].id_cliente">
                        <option value>Escolha um Cliente</option>
                        <option
                          v-for="cliente in clientes"
                          :key="cliente.id"
                          :value="cliente.id"
                        >{{ cliente.nome}}</option>
                      </select>
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-navbar">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Produto</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-barcode"></i>
                        </span>
                      </div>
                      <!-- /btn-group -->
                      <input
                        v-on:keyup.enter="buscarProduto"
                        v-model="form.codigo_barras"
                        type="text"
                        name="codigo_barras"
                        class="form-control"
                        :class="{ 'is-invalid': form.errors.has('codigo_barras') }"
                      />
                      <has-error :form="form" field="codigo_barras"></has-error>
                    </div>
                    <!-- <select2 class="form-control" :options="produtos" name="produto[]">
                    <option disabled value="0">Selecione um</option>
                    </select2>-->
                  </div>

                  <div class="form-group col-md-6">
                    <label for="quantidade">Quantidade (Un)</label>
                    <input
                      v-model="form.quantidade"
                      type="text"
                      name="quantidade"
                      class="form-control"
                      :class="{ 'is-invalid': form.errors.has('quantidade') }"
                    />
                    <has-error :form="form" field="quantidade"></has-error>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="valor_unitario">Valor Unitário (R$)</label>
                    <input
                      v-model="produto.valor_produto"
                      type="text"
                      name="valor_unitario"
                      class="form-control"
                      :class="{ 'is-invalid': form.errors.has('valor_unitario') }"
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12">
                    <a href="#" class="btn btn-primary">Incluir</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="h-100 card card-primary card-outline">
              <div
                class="card-body pad"
                style="
                padding-top: 8px;
                padding-bottom: 0px;"
              >
                <i class="fas fa-table"></i> Itens da compra
                <!-- {{ pedidovenda[0].itens }} -->
              </div>
              <!-- /.card-header -->

              <div class="h-100 card-body p-0">
                <table id="dtVerticalScrollExample" class="table table-sm">
                  <thead>
                    <tr>
                      <th>Produto</th>
                      <th>Valor R$</th>
                      <th>Quantidade</th>
                      <th>Total R$</th>
                      <th style="width: 10px">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in pedidovenda[0].itens" :key="item.id">
                      <td>{{ item.id_produro }}</td>
                      <td>{{ item.valor_unitario | toCurrency }}</td>
                      <td>{{ item.quantidade }}</td>
                      <td>{{ item.valor_unitario | toCurrency }}</td>
                      <td>
                        <a href="#">
                          <i class="fa fa-trash red"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="bg-primary py-1 px-2">
                  <div class="form-row">
                      <div class="form-group col-md-2">Subtotal:</div>
                      <div class="form-group col-md-10 text-right">
                          {{ total | toCurrency }}
                      </div>
                  </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-danger">Cancelar</a>
          <a href="#" @click="newFormaPagamentoModal" class="btn btn-success float-right">Pagamento</a>
        </div>
      </div>
    </section>
    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewLabel">Definir Forma de Pagamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="defenirPagamento()">
                <div class="modal-body">
                    <div class="form-group">
                          <label for="exampleSelectCategoria">Tipo</label>
                            <select class="form-control">
                            <option value="1" disabled selected>Escolha um Tipo</option>
                            <option value="2">Crédito</option>
                            <option value="3">Dinheiro</option>
                            </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" v-show="!editmode" class="btn btn-primary">Salvar</button>
                </div>

                </form>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import Select2 from "./Select2.vue";
export default {
  data() {
    return {
      editmode: false,
      clientes: {},
      produto: [],
      pedidovenda: [],
      form: new Form({
        id: "",
        codigo_barras: "",
        id_cliente: "",
        quantidade: "",
        valor_unitario: ""
      })
    };
  },
  methods: {
    checked: function(val) {
      this.checked = val;
    },
    updateRegister() {
      this.$Progress.start();

      this.form
        .put("api/produto/" + this.form.id)
        .then(() => {
          $("#addNew").modal("hide");
          swal.fire("Alterado!", "Seu registro foi atualizado.", "success");
          this.$Progress.finish();
          Fire.$emit("AfterCreate");
        })
        .catch(() => {
          this.$Progress.fail();
        });
    },
    editModal(pedido) {
      this.editmode = true;
      this.form.reset();
      $("#addNew").modal("show");
      this.form.fill(pedido);
    },
    newFormaPagamentoModal() {
      this.editmode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },
    deleteRegister(id) {
      swal
        .fire({
          title: "Você tem certeza?",
          text: "Você não poderá reverter isso!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Sim, excluir!"
        })
        .then(result => {
          if (result.value) {
            this.form
              .delete("api/produto/" + id)
              .then(() => {
                swal.fire("Excluído!", "Seu registro foi excluído.", "success");
                Fire.$emit("AfterCreate");
              })
              .catch(() => {
                swal.fire("Falhou!", "Há algo errado.", "warning");
              });
          }
        });
    },
    loadRegister() {
      axios.get("/api/pdv/2").then(data => {
        this.pedidovenda = data.data;
      });
    },
    loadCliente() {
      axios.get("/api/cliente").then(({ data }) => (this.clientes = data.data));
    },
    createRegister() {
      this.$Progress.start();
      this.form
        .post("api/pedidovenda")
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNew").modal("hide");

          toast.fire({
            type: "success",
            title: "Produto criado com sucesso"
          });
          this.$Progress.finish();
        })
        .catch(() => {});
    },
    defenirPagamento() {

    },
    buscarProduto(event) {
      if (event) {
        axios.get("api/codigobarras/" + event.target.value).then(data => {
          this.produto = data.data;
        });
        this.form.quantidade = 1;
      }
    }
  },
  created() {
    this.loadRegister();
    this.loadCliente();
    Fire.$on("AfterCreate", () => {
      this.loadRegister();
      this.loadCliente();
    });
  },
  components: {
    select2: Select2
  },
  computed: {
    total: function() {
      let sum = 0;
      return this.pedidovenda[0].itens.reduce(
        (sum, item) => sum + (item.valor_unitario*item.quantidade),
        0
      );
    }
  }
};
</script>
