<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Venda</h3>

                <div class="card-tools">
                    <button class="btn btn-danger" @click="cancelarVenda()">Cancelar Venda</button>
                    <router-link to="/pdv">
                    <span class="btn btn-success">Nova Venda</span>
                  </router-link>

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Data Venda</th>
                      <th>Valor Total</th>
                      <th>Cliente</th>
                      <th>Forma Pagamento</th>
                      <th>Status Pagamento</th>
                      <th>Status Venda</th>
                      <!-- <th>Data de inclusão</th>
                        <th>Data de alteracao</th> -->
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="pedidovenda in pedidosvenda" :key="pedidovenda.id">
                      <td>{{ pedidovenda.id }}</td>
                      <td>{{ pedidovenda.data_venda }}</td>
                      <td>{{ pedidovenda.valor_venda  }}</td>
                      <td>{{ pedidovenda.cliente.nome }}</td>
                      <td>{{ pedidovenda.formapagamento.tipo_pagamento }}</td>
                      <td>{{ pedidovenda.statuspagamento.descricao }}</td>
                      <td>{{ pedidovenda.statusvenda.descricao }}</td>
                      <!-- <td>{{ formapagamento.created_at | myDate}}</td>
                      <td>{{ formapagamento.updated_at | myDate}}</td> -->
                      <td>
                          <a href="#" @click="editModal(pedidovenda)">
                              <i class="fa fa-edit blue"></i>
                          </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->

        <!-- Fim Modal -->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                pedidosvenda: {},
                form: new Form({
                    id:'',
                    data_venda : ''
                })
            }
        },
        methods: {
            updateFormaPagamento(){
                this.$Progress.start();

                this.form.put('api/formapagamento/'+this.form.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal.fire(
                        'Alterado!',
                        'Seu registro foi atualizado.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            editModal(formapagamento){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(formapagamento);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            cancelarVenda(){
                swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Não, cancelar!',
                confirmButtonText: 'Sim, cancelar!'
                }).then((result) => {
                    if (result.value) {
                        this.form.put('api/pedidovenda/'+id).then(()=>{
                            swal.fire(
                                'Cancelado!',
                                'Seu registro foi cancelado.',
                                'success'
                                )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            swal.fire("Falhou!", "Há algo errado.", "warning");
                        });
                   }
                })
            },
            loadVendas(){
                axios.get('/api/pedidovenda').then(({data}) => (this.pedidosvenda = data.data));
            },
            createFormaPagamento(){
                this.$Progress.start();
                this.form.post('api/formapagamento')
                .then(() =>{
                Fire.$emit('AfterCreate');
                $("#addNew").modal('hide')

                toast.fire({
                    type: 'success',
                    title: 'Forma de Pagamento criado com sucesso'
                })
                this.$Progress.finish();
                })
                .catch(() => {

                })
            }
        },
        created() {
            this.loadVendas();
           Fire.$on('AfterCreate',() => {
               this.loadVendas();
           });
        }
    }
</script>
