<style>
.widget-user-header{
    background-position: center center;
    background-size: cover;
}
</style>
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 mt-3">
                <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-info">
                        <h3 class="widget-user-username">Alexander Pierce</h3>
                        <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle elevation-2" :src="getProfilePhoto()" alt="User Avatar">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                            <h5 class="description-header">3,200</h5>
                            <span class="description-text">SALES</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                            <h5 class="description-header">13,000</h5>
                            <span class="description-text">FOLLOWERS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                            <h5 class="description-header">35</h5>
                            <span class="description-text">PRODUCTS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
            <!-- tab -->

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Atividade</a></li>
                        <li class="nav-item"><a class="nav-link active show" href="#settings" data-toggle="tab">Configuração</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <!-- Activity Tab -->
                            <div class="tab-pane" id="activity">
                                <h3 class="text-center">Display User Activity</h3>
                            </div>
                            <!-- Setting Tab -->
                            <div class="tab-pane active show" id="settings">
                                <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputNome" class="col-sm-2 control-label">Nome</label>

                                    <div class="col-sm-12">
                                    <input type="" v-model="form.nome" class="form-control" id="inputNome" :class="{ 'is-invalid': form.errors.has('nome') }">
                                    <has-error :form="form" field="nome"></has-error>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-12">
                                    <input type="email" v-model="form.email" class="form-control" id="inputEmail" :class="{ 'is-invalid': form.errors.has('email') }">
                                    <has-error :form="form" field="email"></has-error>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="imagem" class="col-sm-2 control-label">Foto de Perfil</label>
                                    <div class="col-sm-12">
                                        <input type="file" @change="updateProfile" name="imagem" class="form-input">
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="senha" class="col-sm-12 control-label">Senha (deixe em branco se não estiver mudando)</label>

                                    <div class="col-sm-12">
                                    <input type="password"
                                        v-model="form.senha"
                                        class="form-control"
                                        id="senha"
                                        :class="{ 'is-invalid': form.errors.has('senha') }"
                                    >
                                    <has-error :form="form" field="senha"></has-error>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-12">
                                    <button @click.prevent="updateInfo" type="submit" class="btn btn-success">Atualizar</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
          </div>
          <!-- end tabs -->
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                form: new Form({
                    id:'',
                    nome: '',
                    login: '',
                    email: '',
                    senha: '',
                    tipo: '',
                    imagem: ''
                })
            }
        },
        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            getProfilePhoto(){
                let imagem = (this.form.imagem.length > 200) ? this.form.imagem : "img/perfil/"+ this.form.imagem ;
                return imagem;
            },
            updateInfo(){
                this.$Progress.start();
                this.form.put('api/profile')
                .then(() => {
                    Fire.$emit('AfterCreate');
                    this.$Progress.finish();
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            updateProfile(e){
                let file = e.target.files[0];
                let reader = new FileReader();
                if(file['size'] < 2111775){
                    reader.onloadend = (file) => {
                        this.form.imagem = reader.result;
                    }
                    reader.readAsDataURL(file);

                }else{
                    swal.fire({
                        type: 'error',
                        title: 'Ops...',
                        text: 'Você está carregando um arquivo grande'
                    })
                }

            }
        },

        created() {
            axios.get("api/perfil")
            .then(({ data }) => (this.form.fill(data)));
        }
    }
</script>
