<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Produto</h3>

                <div class="card-tools">
                    <button class="btn btn-success" @click="newModal">Novo Produto <i class="fas fa-cicle-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Nome</th>
                      <th>Código de Barras</th>
                      <th>Categoria</th>
                      <th>Fabricante</th>
                                            <!-- <th>Data de inclusão</th>
                      <th>Data de alteração</th> -->
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="produto in produtos" :key="produto.id">
                      <td>{{ produto.id }}</td>
                      <td>{{ produto.nome_produto }}</td>
                      <td>{{ produto.codigo_barras }}</td>
                      <td>{{ produto.categoria.descricao }}</td>
                      <td>{{ produto.fabricante.descricao }}</td>
                      <!-- <td>{{ produto.created_at | myDate}}</td>
                      <td>{{ produto.updated_at | myDate}}</td> -->
                      <td>
                          <a href="#" @click="editModal(produto)">
                              <i class="fa fa-edit blue"></i>
                          </a>
                          /
                          <a href="#" @click="deleteRegister(produto.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Novo produto</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Novo produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateRegister() : createRegister()">

                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleSelectCategoria">Categoria</label>
                            <select class="custom-select" v-model="form.id_categoria">
                            <option value="" disabled selected>Escolha uma Categoria</option>
                            <option v-for="categoria in categorias" :key="categoria.id" :value="categoria.id">{{ categoria.descricao}}</option>
                            </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="exampleInputCodigoBarras">Código de Barras</label>
                        <input v-model="form.codigo_barras" type="text" name="codigo_barras"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('codigo_barras') }">
                        <has-error :form="form" field="codigo_barras"></has-error>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleInputNome">Nome</label>
                            <input v-model="form.nome_produto" type="text" name="nome_produto"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('nome_produto') }">
                            <has-error :form="form" field="nome_produto"></has-error>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleSelectFabricante">Fabricante</label>
                            <select class="custom-select" v-model="form.id_fabricante">
                            <option value="" disabled selected>Escolha um Fabricante</option>
                            <option v-for="fabricante in fabricantes" :key="fabricante.id" :value="fabricante.id">{{ fabricante.descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputQuantidade">Quantidade Estoque</label>
                            <input v-model="form.quantidade" type="text" name="quantidade"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('quantidade') }">
                            <has-error :form="form" field="quantidade"></has-error>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleValorProduto">Preço Produto</label>
                            <input v-model="form.valor_produto" type="text" name="valor_produto"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('valor_produto') }">
                            <has-error :form="form" field="valor_produto"></has-error>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleSelectPlataforma">Plataforma</label>
                            <select class="custom-select" v-model="form.id_plataforma">
                                <option value="" disabled selected>Escolha uma Plataforma</option>
                                <option v-for="plataforma in plataformas" :key="plataforma.id" :value="plataforma.id">{{ plataforma.descricao}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="item_raro_colecionador" v-model="form.item_raro_colecionador" :checked="checked">
                            <label class="custom-control-label" for="item_raro_colecionador">Colecionador / Raro</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="exampleInputPrazoGarantia">Prazo de Garantia</label>
                            <input v-model="form.prazo_garantia" type="text" name="prazo_garantia"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('prazo_garantia') }">
                            <has-error :form="form" field="prazo_garantia"></has-error>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" v-show="editmode" class="btn btn-success">Salvar</button>
                    <button type="submit" v-show="!editmode" class="btn btn-primary">Salvar</button>
                </div>

                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                produtos: {},
                categorias: {},
                fabricantes: {},
                plataformas: {},
                form: new Form({
                    id:'',
                    codigo_barras: '',
                    nome_produto : '',
                    id_categoria: '',
                    id_fabricante: '',
                    quantidade: '',
                    valor_produto: '',
                    id_plataforma: '',
                    prazo_garantia: '',
                    item_raro_colecionador: false
                })
            }
        },
        methods: {
            checked: function(val) {
                this.checked = val;
            },
            updateRegister(){
                this.$Progress.start();

                this.form.put('api/produto/'+this.form.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal.fire(
                        'Alterado!',
                        'Seu registro foi atualizado.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            editModal(produto){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(produto);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteRegister(id){
                swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/produto/'+id).then(()=>{
                            swal.fire(
                                'Excluído!',
                                'Seu registro foi excluído.',
                                'success'
                                )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            swal.fire("Falhou!", "Há algo errado.", "warning");
                        });
                   }
                })
            },
            loadRegister(){
                axios.get('/api/produto').then(({data}) => (this.produtos = data.data));
            },
            loadCategoria(){
                axios.get('/api/categoria').then(({data}) => (this.categorias = data.data));
            },
            loadFabricante(){
                axios.get('/api/fabricante').then(({data}) => (this.fabricantes = data.data));
            },
            loadPlataforma(){
                axios.get('/api/plataforma').then(({data}) => (this.plataformas = data.data));
            },
            createRegister(){
                this.$Progress.start();
                this.form.post('api/produto')
                .then(() =>{
                Fire.$emit('AfterCreate');
                $("#addNew").modal('hide')

                toast.fire({
                    type: 'success',
                    title: 'Produto criado com sucesso'
                })
                this.$Progress.finish();
                })
                .catch(() => {

                })
            }
        },
        created() {
            this.loadRegister();
            this.loadCategoria();
            this.loadFabricante();
            this.loadPlataforma();
           Fire.$on('AfterCreate',() => {
               this.loadRegister();
               this.loadCategoria();
               this.loadFabricante();
               this.loadPlataforma();
           });
        }
    }
</script>
