<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Status Pagamento</h3>

                <div class="card-tools">
                    <button class="btn btn-success" @click="newModal">Novo Status Pagamento<i class="fas fa-cicle-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Nome</th>
                      <!-- <th>Data de inclusão</th>
                        <th>Data de alteracao</th> -->
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="statuspagamento in statuspagamentos" :key="statuspagamento.id">
                      <td>{{ statuspagamento.id }}</td>
                      <td>{{ statuspagamento.descricao }}</td>
                      <!-- <td>{{ statuspagamento.created_at | myDate}}</td>
                      <td>{{ statuspagamento.updated_at | myDate}}</td> -->
                      <td>
                          <a href="#" @click="editModal(statuspagamento)">
                              <i class="fa fa-edit blue"></i>
                          </a>
                          /
                          <a href="#" @click="deleteStatusPagamento(statuspagamento.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Adicionar Status Pagamento</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Editar Status Pagamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateStatusPagamento() : createStatusPagamento()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputDescrico">Nome</label>
                        <input v-model="form.descricao" type="text" name="descricao"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('descricao') }">
                        <has-error :form="form" field="descricao"></has-error>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" v-show="editmode" class="btn btn-success">Alterar</button>
                    <button type="submit" v-show="!editmode" class="btn btn-primary">Salvar</button>
                </div>

                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                statuspagamentos: {},
                form: new Form({
                    id:'',
                    descricao : ''
                })
            }
        },
        methods: {
            updateStatusPagamento(){
                this.$Progress.start();

                this.form.put('api/statuspagamento/'+this.form.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal.fire(
                        'Alterado!',
                        'Seu registro foi atualizado.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            editModal(statuspagamento){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(statuspagamento);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteStatusPagamento(id){
                swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/statuspagamento/'+id).then(()=>{
                            swal.fire(
                                'Excluído!',
                                'Seu registro foi excluído.',
                                'success'
                                )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            swal.fire("Falhou!", "Há algo errado.", "warning");
                        });
                   }
                })
            },
            loadStatusPagamentos(){
                axios.get('/api/statuspagamento').then(({data}) => (this.statuspagamentos = data.data));
            },
            createStatusPagamento(){
                this.$Progress.start();
                this.form.post('api/statuspagamento')
                .then(() =>{
                Fire.$emit('AfterCreate');
                $("#addNew").modal('hide')

                toast.fire({
                    type: 'success',
                    title: 'Status Pagamento criado com sucesso'
                })
                this.$Progress.finish();
                })
                .catch(() => {

                })
            }
        },
        created() {
            this.loadStatusPagamentos();
           Fire.$on('AfterCreate',() => {
               this.loadStatusPagamentos();
           });
        }
    }
</script>
