<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Usuários</h3>

                <div class="card-tools">
                    <button class="btn btn-success" @click="newModal">Add Novo <i class="fas fa-user-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Login</th>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Tipo</th>
                      <th>Data de inclusão</th>
                      <th>Ação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="usuario in usuarios" :key="usuario.id">
                      <td>{{ usuario.id }}</td>
                      <td>{{ usuario.login }}</td>
                      <td>{{ usuario.nome }}</td>
                      <td>{{ usuario.email }}</td>
                      <td>{{ usuario.tipo | upText}}</td>
                      <td>{{ usuario.created_at | myDate}}</td>
                      <td>
                          <a href="#" @click="editModal(usuario)">
                              <i class="fa fa-edit blue"></i>
                          </a>
                          /
                          <a href="#" @click="deleteUser(usuario.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add Novo</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Atualizar Usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateUser() : createUser()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputNome">Nome</label>
                        <input v-model="form.nome" type="text" name="nome"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('nome') }">
                        <has-error :form="form" field="nome"></has-error>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputLogin">Login</label>
                        <input v-model="form.login" type="text" name="login"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('login') }">
                        <has-error :form="form" field="login"></has-error>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">Email</label>
                        <input v-model="form.email" type="email" name="email"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputTipo">Tipo de Função</label>
                        <select name="tipo" v-model="form.tipo" id="tipo" class="form-control" :class="{ 'is-invalid': form.errors.has('tipo') }">
                            <option value="">Selecione Função do Usuário</option>
                            <option value="admin">Administrador</option>
                            <option value="estoquista">Atendente</option>
                            <option value="atendente">Estoquista</option>
                            <option value="supervisor">Supervisor</option>
                        </select>
                        <has-error :form="form" field="tipo"></has-error>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputSenha">Senha</label>
                        <input v-model="form.senha" type="password" name="senha" id="senha"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('senha') }">
                        <has-error :form="form" field="senha"></has-error>
                    </div>

                    <!-- <div class="form-group">
                        <div class="form-group">
                        <label for="exampleSelectCargo">Cargo</label>
                        <select class="custom-select" v-model="form.id_cargo">
                          <option value="" disabled selected>Escolha um Cargo</option>
                          <option v-for="cargo in cargos" :key="cargo.id" :value="cargo.id">{{ cargo.descricao}}</option>
                        </select>
                      </div>
                    </div> -->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                    <button type="submit" v-show="editmode" class="btn btn-success">Alterar</button>
                    <button type="submit" v-show="!editmode" class="btn btn-primary">Salvar</button>
                </div>

                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                usuarios: {},
                cargos: {},
                form: new Form({
                    id:'',
                    login : '',
                    nome : '',
                    email: '',
                    senha: '',
                    tipo: '',
                    imagem: '',
                    id_cargo: '',
                })
            }
        },
        methods: {
            updateUser(){
                this.$Progress.start();

                this.form.put('api/usuario/'+this.form.id)
                .then(() => {
                    $('#addNew').modal('hide');
                    swal.fire(
                        'Alterado!',
                        'Seu registro foi atualizado.',
                        'success'
                    )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                })
            },
            editModal(user){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteUser(id){
                swal.fire({
                title: 'Você tem certeza?',
                text: "Você não poderá reverter isso!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/usuario/'+id).then(()=>{
                            swal.fire(
                                'Excluído!',
                                'Seu registro foi excluído.',
                                'success'
                                )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            swal.fire("Falhou!", "Há algo errado.", "warning");
                        });
                   }
                })
            },
            loadUsers(){
                axios.get('/api/usuario').then(({data}) => (this.usuarios = data.data));
            },
            loadCargos(){
                axios.get('/api/cargo').then(({data}) => (this.cargos = data.data));
            },
            createUser(){
                this.$Progress.start();
                this.form.post('api/usuario')
                .then(() =>{
                Fire.$emit('AfterCreate');
                $("#addNew").modal('hide')

                toast.fire({
                    type: 'success',
                    title: 'Usuário criado com sucesso'
                })
                this.$Progress.finish();
                })
                .catch(() => {

                })
            }
        },
        created() {
                this.loadUsers();
                this.loadCargos();
           Fire.$on('AfterCreate',() => {
                this.loadUsers();
                this.loadCargos();
           });
            // setInterval(() => this.loadUsers(), 3000);
        }
    }
</script>
